body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  background: url("https://images.unsplash.com/photo-1496661415325-ef852f9e8e7c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2VkZGluZyUyMGJhY2tncm91bmQlMjBmb3IlMjBpbnZpdGF0aW9uc3xlbnwwfHwwfHx8MA%3D%3D")
    no-repeat center center fixed;
  background-size: cover;
}

.invitation {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #444;
  text-align: center;
  border: 2px solid #f5f5f5;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

header h1,
.details h2 {
  color: #d60051;
}

.countdown {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 1.5em;
}

.time {
  background: rgba(254, 182, 182, 0.9);
  padding: 10px 20px;
  border-radius: 10px;
}

.time span {
  display: block;
  font-size: 0.5em;
}

.map-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #d60051;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.map-button:hover {
  background-color: #bf0040;
}
